.filter-panel {
  background-color: white !important;
}
#pan {
  width: 100% !important;
}

@media screen and (max-width: 900px) {
  #ss {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    background-color: white !important;
  }
  .big-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white !important;
  }
}

#cont #big-cont {
  background-color: white !important;
}

.ant-collapse-header {
  font-size: 20px;
  font-weight: 500;
}

.filter-header,
.ant-collapse-header {
  font-family: "Roboto Condensed";
}
.ant-collapse-borderless {
  background-color: white !important;
}

.filter-button {
  margin: 20px 0px;
  float: right;
}

.red:hover {
  color: red !important;
}

.red {
  color: red !important;
  text-decoration: underline !important;
}
#fyf {
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}
