.filter-panel {
  background-color: #ffffff;
}

.ant-collapse-header {
  font-size: 20px;
  font-weight: 500;
}

.filter-header,
.ant-collapse-header {
  font-family: "Roboto Condensed";
}

.filter-button {
  margin: 20px 0px;
  float: right;
}

.red:hover {
  color: red !important;
}

.red {
  color: red !important;
  text-decoration: underline !important;
}
#fyf {
  margin-bottom: 5px !important;
}
