.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .try-button :hover {
    filter: brightness(200%) !important;
  }

  .addtocart-button :hover {
    filter: brightness(200%) !important;
  }
}

#color-button {
  border-radius: 50%;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  font-size: 11px;
  margin-bottom: 10px;
}
.yellow {
  border: 3px solid black;
}
.size-but {
  display: inline-block !important;
}

.purchase-button-group {
  width: 100%;
  margin: 15px 0px;
  button {
    border-radius: 0px;
  }
}

.cart-button {
  width: 100%;
}
.black {
  border: 3px solid black;
}

#size-button {
  background-color: white !important;
  border-radius: 50% !important;
  margin-right: 5px !important;
  width: 30px !important;
  height: 30px !important;
  font-size: 11px !important;
  margin-bottom: 10px !important;
}

.img {
  border: 0.5px solid black;
}

.prompt {
  font-size: 12px;
}
